

@font-face {
    font-family: "beamer";
    src: url(../css/diferentes-letras/ShadowBeamer.ttf);
  }
 
@font-face {
    font-family:  "sweet";
    src: url(../css/diferentes-letras/Sweetheart.ttf);
  }

@font-face {
    font-family: "morning";
    src: url(../css/diferentes-letras/SundayMorning.ttf);
  }
