@import "fuente";



.p-150 {
  
    font-size: 150%;
}

.sombra-letra {
    color: azure;
    text-shadow: black 0.3em 0.1em 0.3em ;
    font-family: morning;
}

.shadow {
    color: azure;
    text-shadow: black 0.3em 0.1em 0.3em ;
}
.sombra-letra-a {
    color: azure;
    text-shadow: black 0.3em 0.1em 0.3em ;
    display: inline-flex;
    background-color: #DE112D;
    padding: 2%;
    border-radius: 20%;
    transform: translateY(80px);
    border: none;

}

.sombra-bloque {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.txt-white{
    color: white;
    font-family: sweet;
    font-size: 160% !important;
}
.sweet {
    color: white;
    font-family: sweet;
    font-size: 230% !important;
    display: flex;
    justify-content: center;
    
}

.txt-white-nav{
    color: white;
    font-family: sweet;
    font-size: 120% !important;
}

.txt-white-a{
    color: white;
}

.txt-black-a{
    color: #000;

}

.section-d {
    margin-top: 50px;
}

.fondo {
    margin: auto 10px auto 10px;
    padding: 50px;
}

.fondo-1 {
background: aquamarine;

}

.fondo-form {
    margin-top: 40px;
}

.fondo-1-borde {
    background-image: linear-gradient(#DE112D, #148A1B);
        border-radius: 20px;
        padding: 100px;
    }

.fondo-2 {
    
    text-align: center;
}

hr{
    border: 1px solid #505050cd !important;
}

footer {
    background-image: radial-gradient(#D58E5D, #423E3C) ;
    margin-left: 0% !important;
    margin-right: 0% !important;
    padding: 20px;
    margin-top: 90px;
    
}

.jumbotron {

    padding: 90px !important;
    padding-top: 140px !important;
    background-image: url(../imagenes/fondo1.jpg) !important;
    background-size: cover;
}

.boton-redes {
    margin: 0%;
    padding: 0%;
    display: flex;
    height: 75px;
    justify-content: center;
    transform: translate(-20px);
}

.boton-redes {
    ul {
        li{

            display: inline-block;
            margin: 0%;
            width: 50px;
            height: 50px;
            text-align: center;

            a{
                display: block;
                padding: 0 10px;
                background: #333333;
                color: white;
                line-height: 50px;
                font-size: 18px;
                box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
                transition: .2s;
            }
        }
    }
}

.boton-redes {
    ul:hover {
        a {
            filter:  blur(2px);
        }
    }
}

.boton-redes {
    ul{
        li{
            a:hover{
                transform: translateY (-3px) scale(1.05);
                box-shadow: 0 5px 5px 0px rgba($color: #000000, $alpha: 1.0);
                filter: none;
            }
        }
    }
}

.boton-redes {
    ul{
        li .facebook:hover{
            background: var(--facebook);

        }
    }
}

.boton-redes {
    ul{
        li .whatsapp:hover{
            background: var(--whatsapp);
            
        }
    }
}
.boton-redes {
    ul{
        li .instagram:hover{
            background: var(--instagram);
            
        }
    }
}

:root{
    --facebook:#0458AB;
    --instagram:#d31850;
    --whatsapp:#8CCF36;
}

.fondo-centro {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

.body-navidad {
    background-image: url(../imagenes/fondonavidad.jpg);
    background-size: cover;
}

.beamer {
    font-family: beamer;
    font-size: 30px;
}

.imagen-mediana {
    width: 300px;
    height: 300px;
    display: inline-block;
    justify-content: center;
}

.flip-card {
    background-color: transparent !important;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: transparent !important;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2bceab;
    color: white;
    transform: rotateY(180deg);
  }

  .card {
      background-color: transparent !important;
  }